<ul class="nav justify-content-end">
  <li class="nav-item" routerLinkActive="active-li">
    <a class="nav-link" [routerLink]="['/']">Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active-li">
    <a class="nav-link" [routerLink]="['/subject']">Subjects</a>
  </li>
  <li class="nav-item" routerLinkActive="active-li">
    <a class="nav-link" [routerLink]="['/student']">Studebts</a>
  </li>
  <li class="nav-item" routerLinkActive="active-li">
    <a class="nav-link" [routerLink]="['/']">Home</a>
  </li>
</ul>
<router-outlet></router-outlet>
