<div class="doc" *ngFor="let data of datas;let index=index;">
  <div class="text-center header-doc">
    <div>
      แบบแจ้งผลการสอบภาคเรียนที่ <span> {{data.information.semester || ''}} </span>
    </div>
    <div>
      โรงเรียนบ้านสามัคคี
    </div>
    <div>
      ชั้นประถมศึกษาปีที่
      <span>
          {{data.information.class|| '' }}
        </span>
      ปีการศึกษา
      <span>
          {{data.information.year || ''}}
        </span>
    </div>
    <div>
      ชื่อ
      <span>
          {{data.student.titleName + data.student.firstName + ' '+ data.student.lastName}}
        </span>
      เลขที่
      <span>
          {{data.student.id || ''}}
        </span>
    </div>
  </div>
  <table class="table table-doc">
    <tbody class="text-center" style="font-weight: 600">
    <tr>
      <td rowspan="2">รหัสวิชา</td>
      <td rowspan="2">รายวิชา</td>
      <td rowspan="2">ชั่วโมง / สัปดาห์</td>
      <td colspan="2">ผลการสอบปลายภาค</td>
      <td rowspan="2">หมายเหตุ</td>
    </tr>
    <tr>
      <td class="sub-title">คะแนนเต็ม</td>
      <td class="sub-title">คะแนนที่ได้</td>
    </tr>
    </tbody>


    <tbody class="text-center">
    <tr class="l-h-30">
      <td class="b-b-blank fs-14 font-weight-bold">รหัสวิชาพื้นฐาน</td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
    </tr>
    <tr class="remove-border-top" *ngFor="let subject of data.subjectFirst">
      <td>{{subject.id}}</td>
      <td class="text-left">{{subject.name}}</td>
      <td>{{subject.credit}}</td>
      <td>100</td>
      <td>{{subject.score}}</td>
      <td>{{subject.grade}}</td>
    </tr>
    <tr class="l-h-30">
      <td class="b-b-blank fs-14 font-weight-bold">รหัสวิชาเพิ่มเติม</td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
    </tr>
    <tr *ngFor="let subject of data.subjectSecond;let index = index">
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectSecond.length}">{{subject.id}}</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectSecond.length}" class="text-left">{{subject.name}}</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectSecond.length}">{{subject.credit}}</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectSecond.length}">100</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectSecond.length}">{{subject.score}}</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectSecond.length}">{{subject.grade}}</td>
    </tr>
    <tr class="l-h-30">
      <td class="b-b-blank fs-14 font-weight-bold">กิจกรรมพัฒนาฯ</td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
      <td class="b-b-blank"></td>
    </tr>
    <tr *ngFor="let subject of data.subjectThird;let index = index">
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectThird.length}"></td>
      <td class="text-left" [ngClass]="{'b-b-blank': index + 1 != data.subjectThird.length}">{{subject.name}}</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectThird.length}">{{subject.credit}}</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectThird.length}">ผ</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectThird.length}">ผ</td>
      <td [ngClass]="{'b-b-blank': index + 1 != data.subjectThird.length}"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>{{data.total.credit}}</td>
      <td>{{data.total.maxScore}}</td>
      <td>{{data.total.score}}</td>
      <td>{{data.total.grade}}</td>
    </tr>
    </tbody>
  </table>
  <div class="row text-center bottom-doc">
    <div class="text-center col-12 p-b-20" style="margin-top: 15px">
      รวมคะแนนที่ได้
      <span>
        {{data.total.score + '  '}}
      </span>
      เฉลี่ยร้อยละที่ได้
      <span>
        {{data.total.percentage + '  '}}
      </span>
      ลำดับที่
      <span>
        {{ index + 1}}
      </span>
      จำนวนนักเรียนทั้งหมด
      <span>
        {{data.total.studentCound}}
      </span>
      คน
    </div>

    <div class="col-12" style="margin-top: 30px;">
      ลงชื่อ…………………………………ครูประจำชั้น
    </div>
    <div class="col-12 p-b-20">
      ({{data.information.teacher|| '' }})
    </div>
    <div class="col-12" style="margin-top: 30px">
      ลงชื่อ…………………………………ผู้บริหาร
    </div>
    <div class="col-12">
      ({{data.information.director|| '' }})
    </div>
    <div class="col-12">
      ผู้อำนวยการโรงเรียนบ้านสามัคคี
    </div>
  </div>
</div>
